<%= render "partials/notice"%>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Articulos del Blog</h1>
    </div>
    <%= link_to "Nuevo articulo", new_article_path, class:"btn btn-success col-lg-2 offset-lg-5 space1" %>
  </div>
</div>

<div class="container space1">
  <div class="row">
  <%= render "articles/index", art: @articles%>
  </div>
</div>